<a href="https://colab.research.google.com/github/jasonweng1/Python-pandas-bootcamp/blob/main/homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q2#
Write a program to remove all duplicates from the list
`[1, 2, 2, 3, 4, 4, 5]`

#Q1#
Given the list of numbers: `12, 34, 45, 67, 88, 99, 56, 23`, find the sum of all the even numbers in the list.

In [1]:
q1_list = [12, 34, 45, 67, 88, 99, 56, 23]

result = 0
for number in q1_list:
  if number % 2 == 0:
    result += number
print(result)

190

#Q2#
Write a program to remove all duplicates from the list
`[1, 2, 2, 3, 4, 4, 5]`

In [2]:
q2_list = [1, 2, 2, 3, 4, 4, 5]

result = []
for number in q2_list:
  if number not in result:
    result.append(number)

print(result)

[1, 2, 3, 4, 5]

#Q3#
Given two lists,
```
list1 = [1, 2, 3, 4, 3, 5]
list2 = [3, 4, 5, 6, 7, 4]
```
write a program to find the unique common elements between them.

In [3]:
list1 = [1, 2, 3, 4, 3, 5]
list2 = [3, 4, 5, 6, 7, 4]

set1 = set(list1)
set2 = set(list2)

intersection = set1.intersection(set2)
print(list(intersection))

[3, 4, 5]

#Q4#
Given the list of strings,

`["apple", "banana", "cherry", "date", "fig"]`,

create a new list containing only the strings with more than 4 characters using list comprehensio

In [4]:
q4_list = ["apple", "banana", "cherry", "date", "fig"]

result = [fruit for fruit in q4_list if len(fruit) > 4]

print(result)

['apple', 'banana', 'cherry']

#Q5#
Write a function to reverse a list without using the reverse method.

In [90]:
def reverse_a_list(given_list):
  result = []

  i = len(given_list)
  while i > 0:
    result.append(given_list[i - 1])
    i -= 1

  return result


q5_list = ["apple", "banana", "cherry", "date", "fig"]

print(reverse_a_list(q5_list))

['fig', 'date', 'cherry', 'banana', 'apple']

#Q6#
Create a matrix (a list of lists) and write a program to find the sum of all the elements in the matrix.

In [6]:
q6_list = [[1, 2], [3, 4], [5, 6]]

result = 0

for sublist in q6_list:
  for number in sublist:
    result += number

print(result)

21

#Q7#
Given the list of numbers,

`[12, 34, 45, 67, 88, 99, 56, 23]`

write codes to find the second largest and second smallest elements.

In [7]:
q7_list = [12, 34, 45, 67, 88, 99, 56, 23]

sorted_list = sorted(q7_list)

print(sorted_list[-2], sorted_list[1])

88 23

#Q8#

Write a function that computes the cumulative sum of a list (each element is the sum of all elements before it).

In [92]:
def cumulative_sum(given_list):
  result = []

  for i in range(len(given_list)):
    cumulative = sum(given_list[0:i + 1])
    result.append(cumulative)

  return result


q8_list = [12, 34, 45, 67, 88, 99, 56, 23]

print(cumulative_sum(q8_list))

[12, 46, 91, 158, 246, 345, 401, 424]

#Q9#
Based on the dictionary below,

```
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}
```
1. Make a dictionary of all prices over 200

2. Make a dictionary of tech stocks based on the following list.
`tech_names = ['AAPL', 'IBM', 'HPQ', 'FB']`

In [53]:
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

# Make a dictionary of all prices over 200

#result1 = {}

#for key, value in prices.items():
#    if value > 200:
#        entry = {key : value}
#        result1.update(entry)

result1 = {key : value for key, value in prices.items() if value > 200}


# Make a dictionary of tech stocks based on the following list.
# tech_names = ['AAPL', 'IBM', 'HPQ', 'FB']

tech_names = ['AAPL', 'IBM', 'HPQ', 'FB']

#result2 = {}

#for key, value in prices.items():
#  if key in tech_names:
#    entry = {key : value}
#    result2.update(entry)

result2 = {key : value for key, value in prices.items() if key in tech_names}

print(result1)
print(result2)

{'AAPL': 612.78, 'IBM': 205.55}
{'AAPL': 612.78, 'IBM': 205.55, 'HPQ': 37.2, 'FB': 10.75}

#Q10#

Given the string,

`string = "Hello, World!"`

count the number of vowels `(a, e, i, o, u)` in it.

In [57]:
string = "Hello, World!"
vowels = ("a", "e", "i", "o", "u")

result = 0

for letter in string:
  if letter in vowels:
    result += 1

print(result)

3

#Q11#

Given the string,

`"Hello, World !"`

remove all whitespace characters from it.

In [71]:
string = "Hello, World !"

result = ''.join(string.split())

print(result)

Hello,World!

#Q12#

Given the string,

`"This is a sample sentence with long words"`

find the longest word in it.

In [76]:
string = "This is a sample sentence with long words"
result = ""

string = string.split()
for word in string:
  if len(word) > len(result):
    result = word

print(result)

sentence

#Q13#

Write code to round `123456` to tens place

In [79]:
number = 123456

print(round(number, -1))

123460

#Q14#

Write a function that checks if a given number is even or odd and returns a corresponding message.

In [96]:
def check_parity(number):
  if number % 2 == 0:
   return (str(number) + " is even")
  else:
   return (str(number) + " is odd")


my_number = 123456

print(check_parity(my_number))

123456 is even

#Q15#

Create a function that takes a **list** of numbers as input and returns the average of those numbers.

In [97]:
def average(number_list):
  return sum(number_list) / len(number_list)


my_list = [12, 34, 45, 67, 88, 99, 56, 23]

print(average(my_list))

53.0

#Q16#

Write a function that takes **a variable number** of arguments and returns their sum.

In [101]:
def get_sum(*args):
  return sum(args)


result = get_sum(1, 2, 3, 4, 5, 6)

print(result)

21

#Q17#

Create a lambda function that takes two numbers as input and returns their product.

In [106]:
product = lambda x, y: x*y


print(product(5, 6))

30

#Q18#

Write a function that accepts a **dictionary** of student names and their corresponding scores. Calculate the average score, round it to the second digits after decimal points, and return it.

Example input:

`student_scores = {"Alice": 90, "Brain": 82, "David": 88}`

In [114]:
def get_average_score(scores):
  total = sum(scores.values())
  average = total / len(scores)
  return round(average, 2)


student_scores = {"Alice": 90, "Brain": 82, "David": 88}

print(get_average_score(student_scores))

86.67

#Q19#

Write a function `count_char_occurrences` that takes a string and a character as arguments and counts the number of times the character appears in the string.

Example imput:

```
text = "Hello, World!"
char = 'l'
count = count_char_occurrences(text, char)
```

In [116]:
def count_char_occurrences(text, char):
  result = 0

  for letter in text:
    if letter == char:
      result += 1

  return result


text = "Hello, World!"
char = 'l'
count = count_char_occurrences(text, char)
print(count)

3

#Q20#

Create a function that takes a function and a list of numbers as arguments and applies the function to each number in the list.

Example:
```
def apply_function_to_list(func, numbers):
    # you code here

numbers = [1, 2, 3, 4, 5]
squared_numbers = apply_function_to_list(lambda x: x**2, numbers)
print("Squared numbers:", squared_numbers)

```

In [141]:
def apply_function_to_list(func, numbers):
    result = [func(number) for number in numbers]
    return result


numbers = [1, 2, 3, 4, 5]
squared_numbers = apply_function_to_list(lambda x: x**2, numbers)
print("Squared numbers:", squared_numbers)

Squared numbers: [1, 4, 9, 16, 25]

#Q21#

Write a program that calculates the factorial of a given non-negative integer that is less than 15 using a **while** loop.

In [131]:
def factorial(number):
  i = 1
  result = 1

  while i <= number:
    result *= i
    i += 1

  return result


my_number = 13

print(factorial(my_number))

6227020800

#Q22#

Create a program that takes a list of numbers and performs the following operations:

+ Find the maximum number in the list.
+ Find the minimum number in the list.
+ Calculate the sum of all numbers in the list.
+ Calculate the average of the numbers in the list.

Example list

`[12, 34, 75, 14, 23, 809]`

In [137]:
def max_min_sum_av(numbers_list):
  sorted_list = sorted(numbers_list)
  list_sum = sum(numbers_list)
  list_average = list_sum / len(numbers_list)

  print("Max value = " + str(sorted_list[0]))
  print("Min value = " + str(sorted_list[-1]))
  print("Sum = " + str(list_sum))
  print("Average = " + str(list_average))


numbers = [12, 34, 75, 14, 23, 809]
max_min_sum_av(numbers)

Max value = 12
Min value = 809
Sum = 967
Average = 161.16666666666666

#Q23#

Create a program that extracts a sublist from a given list based on user input for start and end indices.

Example input
```
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

start_index = 2
end_index = 5
```

In [139]:
def extract_sublist(some_list, start, end):
  return some_list[start : end]


original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
start_index = 2
end_index = 5

print(extract_sublist(original_list, start_index, end_index))

[3, 4, 5]

#Q24#

Write a program that demonstrates basic set operations such as union, intersection, and difference.