<a href="https://colab.research.google.com/github/jasonweng1/python-pandas-bootcamp/blob/main/homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

#Q1#
Create a Pandas Series containing the following data: [10, 20, 30, 40, 50] and label it with the corresponding days of the week (Monday to Friday).

In [58]:
data = [10, 20, 30, 40, 50]
days_of_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

series = pd.Series(data, index = days_of_week)
print(series)

Monday       10
Tuesday      20
Wednesday    30
Thursday     40
Friday       50
dtype: int64

#Q2#
From the Series created in Problem 1, extract and print the value corresponding to 'Wednesday' and "Friday".

In [59]:
wed = series["Wednesday"]
fri = series["Friday"]

print("Value for Wednesday:",  wed)
print("Value for Friday:", fri)

Value for Wednesday: 30
Value for Friday: 50

#Q3#

Filter and print the values in the Series `series` that are greater than 30.

```
series = pd.Series([12, 30, 43, 2, 567])
```

In [52]:
series = pd.Series([12, 30, 43, 2, 567])

result = series[series > 30]

print(result)

2     43
4    567
dtype: int64

#Q4#
Check if there are any null (missing) values in `ser` and print the result.
```
ser = pd.Series([1, 20, None, 45, pd.NA])
```

In [62]:
ser = pd.Series([1, 20, None, 45, pd.NA])

has_null_values = ser.isnull().any()

print("There are null values in the series?", has_null_values)

There are null values in the series? True

#Q5#
Sort the Series `ser` in ascending order by its absolute values and put any missing values at the end.
```
ser = pd.Series([12, -23, None, 2, 40, -5, -90, None])
```

In [72]:
ser = pd.Series([12, -23, None, 2, 40, -5, -90, None])

# Sort the Series by absolute values and put missing values at the end
sorted_ser = ser.abs().sort_values()

print(sorted_ser)

3     2.0
5     5.0
0    12.0
1    23.0
4    40.0
6    90.0
2     NaN
7     NaN
dtype: float64

#Q6#
Extract and print the unique values from the Series `ser = pd.Series([23, 1, 3, None, 3, 23])`

In [81]:
ser = pd.Series([23, 1, 3, None, 3, 23])

result = ser.unique()

print(result)

[23.  1.  3. nan]

#Q7#
Calculate the exponential of each element in the Series `ser` and store the result in a new Series.

```
ser = pd.Series([2, 4, 5, 12, 6])
```

#Q8#

Count and print the number of occurrences of each unique value in the Series `ser`, inclusing missing values

```
ser = pd.Series([2, 3, 4, 3, 5, 6, None, 6])
```

#Q9#
Find and print the minimum and maximum values in the Series `ser`

```
ser = pd.Series([-10, 34, 45, 87, 54])
```

#Q10#

Create two Series with the same index labels and subtract one from the other.

#Q11#

Filter the elements of the Series `ser` to include only those values that are greater than the mean of the Series.

```
import numpy as np
np.random.seed(1234)
ser = pd.Series(np.random.normal(size = 15))
```

#Q12#

Rename the index of the Series `ser` with new index labels `"A", "B", "C"`

```
ser = pd.Series([1,2,3], index = list("abc"))
```

#Q13#

Convert the data type of the Series `ser` to  integer.

```
ser = pd.Series([1.0, 2.34, 5.6], dtype = "float64")
```

**Hint:** `astype()` method

#Q14#

Replace specific values in the Series `ser` with new values as follows:

replace `'b' by 100, 'c' by 200` and keep other values untouched.

```
ser = pd.Series(["a", "c", "c", "b", "d"])
```

#Q15#

Interpolate missing values in the Series `ser` using **linear** interpolation.

```
ser = pd.Series([1, None, 3, None, 5])
```

#Q16#

Create a Series of student grades (e.g., 'A', 'B', 'C', 'D', 'F'). Use the `map` method to convert these letter grades to corresponding grade point averages (GPA) as follows:
```
'A' -> 4.0
'B' -> 3.0
'C' -> 2.0
'D' -> 1.0
'F' -> 0.0
```

#Q17#

Given the Series `ser`, use the agg method to calculate the total value, average value, and maximum value.

```
ser = pd.Series([1000, 1500, 800, 2000, 1200])
```

#Q18#

Given the following Series of lists containing exam scores for 4 students, calculate the average score for each student.

```
scores = pd.Series([[85, 90, 78], [92, 88, 94], [78, 85, 80], [88, 92, 90]],
                   index = ["stu1", "stu2", "stu3", "stu4"])

```

#Q19#

You have a Series of exam scores as follows,

```
scores = pd.Series([45, 78, 55, 92, 60, 38, 72])
```

You want to apply a curve to the scores:

if a score is less than 60, increase it by 10 points; otherwise, leave it unchanged.

Use the `where` method to apply this curve to the scores.

#Q20#

You have a Series of temperatures in Celsius,

```
temperatures_celsius = pd.Series([20, 28, 22, 30, 18, 25, 27])
```

You want to convert temperatures above a certain threshold (e.g., 25 degrees Celsius) to Fahrenheit.

Write code to apply the conversion formula to temperatures above the threshold and leave temperatures below the threshold in Celsius.

**Note:** The Fahrenheit to Celsius conversion formula is: `F = (C * 9/5) + 32`, where `F` is the temperature in Fahrenheit and `C` is the temperature in Celsius.

#Q21#

You have a Series of names, and you want to identify and print the duplicated names in the Series.

```
names = pd.Series(['Alice', 'Bob', 'Alice', 'Charlie', 'Bob', 'David'])
```

#Q22#

Extend the previous question to count the occurrences of each duplicated value in the Series.

#Q23#

You have a Series of data with missing values represented as `None`, and you want to replace these missing values with the mean of the non-missing values.

```
data = pd.Series([10, 20, None, 30, 40, None, 50])
```

#Q24#

Extend the previous question to drop rows containing missing values from the Series.

```
data = pd.Series([10, 20, None, 30, 40, None, 50])
```

# Q25

You have a Series of stock prices with missing values, and you want to backward fill (copy the next available value) to fill in the missing values.

```
import numpy as np
prices = pd.Series([100, np.nan, 105, np.nan, 110, 112, np.nan, 115])
```